 <!-- Quote/testimonial aside-->
 <aside class="text-center bg-gradient-primary-to-secondary">
     <div class="container px-5">
         <div class="row gx-5 justify-content-center">
             <div class="col-xl-8">
                 <div class="h2 fs-1 text-white mb-4">"An intuitive solution to a common problem that we all face,
                     wrapped up in a single app!"</div>
                 <img src="/themes/demo/assets/images/tnw-logo.svg" alt="..." style="height: 3rem" />
             </div>
         </div>
     </div>
 </aside>
